button {
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    cursor: pointer;
}

button:hover {
    border: 1px solid #ced4da;
}

.dropdown__bold {
    font-weight: 900;
    position: relative;
    top: -5px;
    transform: scale(1.2);
}

.dropdown__options {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
    /* border-top: 5px solid rgba(248, 249, 250, 1) */
}

.dropdown__options > p {
    background-color: white;
    display: block;
    color: #495057;
    font-size: 0.9rem;
    cursor: pointer;
    width: 160px;
    transition: 0.2s
}

.dropdown__options > p:hover {
    font-weight: 900;
}

.dropdown__spacer {
    height: 5px;
    position: relative;
    bottom: -6px;

}