.home {
    color: #212529;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px;
    padding-top: 50px
  }
  