.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 0px;
    width: 30vw;
    transition: 0.2s;
    position: relative;
    top: -5px;
}

.search-bar--light {
    background-color: white;
    box-shadow: 0px 0px 10px #dee2e6;
    border: 1px solid white;
}

.search-bar--dark {
    background-color: #435567;
    box-shadow: 0px 0px 10px #304346;
    border: 1px solid #304346;
}

.search-icon {
    margin-left: 15px;
    transform: scale(0.9);
    transition: 0.5s;
    padding: 10px
}

.search-icon--light {
    color: #6c757d;
    border: 1px solid white;
}

.search-icon--dark {
    color: white;
    border: 1px solid #435567;
}

.search-icon:hover {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px
}

.search-icon--light:hover {
    border: 1px solid white;
    background-color: #f8f9fa;
}

.search-icon--dark:hover {
    border: 1px solid #304346;
    background-color: #304346;
}

.search-bar--light input {
    border: none;
    padding: 15px;
    padding-left: 10px;
    font-size: 0.85rem;
    width: 30vw;
    outline: none;
}

.search-bar--dark input {
    border: none;
    padding: 15px;
    padding-left: 10px;
    font-size: 0.85rem;
    width: 30vw;
    outline: none;
    background-color: #435567;
}

.search-bar--dark input::placeholder {
    color: white
}

.search-bar--light:hover {
    border: 1px solid #ced4da;
}


.search-bar--dark:hover {
    border: 1px solid #304346;
}

.search-bar:active,
.search-bar:focus {
    border: 1px solid red;
}

