.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 12px 95px;
}

.header h1 {
    font-size: 1.2rem;
}

.header p {
    font-size: 0.9rem;
    padding: 0 5px;
}

.header__darkmode {
    display: flex;
    flex-direction: row;
    transition: 0.2;
}

.header__darkmode:hover {
    cursor: pointer;
}

.darkmode-icon {
    align-self: center;
    transform: scale(0.8);
}
