.country-info {
    display: flex;
    flex-direction: row;
}

.country__border {
    display: flex;
    flex-direction: row;
}

button {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid red;
}