.country-card {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 18vw;
    max-height: 600px;
    border-radius: 5px;
    padding-bottom: 20px;
    margin: 10px;
    margin-bottom: 60px;
    transition: 0.2s;
    flex-shrink: 1;
    border: 1px solid red
}

.country-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    /* box-shadow: 5px 5px 10px #e9ecef; */
}

.country-card img {
    border-radius: 5px 5px 0 0;
    width: 100%

}

.description {
    margin: 0 25px;
}

.title {
    font-weight: 700;
    font-size: 1.1rem;
    
}

.country-card p {
    font-size: 0.9rem;
    font-weight: 300;
}

.bold {
    font-weight: 500;
}